


<form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate>  
    {{detail | json }}
   
    <div>
      Passenger name: 
      <input 
      type="text"
      name="fullname"
      required
      #fullname="ngModel"
      [ngModel]="detail?.fullname">
      <div *ngIf="fullname.errors?.required && fullname.dirty" class="error">
      Passenger name is required 
      </div>
   </div>
   <div>
    Passenger ID: 
    <input 
    type="number"
    name="id"
    required
    #id="ngModel"
    [ngModel]="detail?.id">
    <div *ngIf="id.errors?.required && id.dirty" class="error">
    Passenger ID is required 
    </div>
 </div>
 <div>
     <label>
         <input 
         type="checkbox"
         name="checkedIn"
         [ngModel]="detail?.checkedIn"
         (ngModelChange)="toggleCheckIn($event )">
     </label>
  
 </div>

 <div *ngIf="form.value.checkedIn">
    Check in date:
    <input
      type="number"
      name="checkInDate"
      [ngModel]="detail?.checkInDate">
  </div>
<!--
 <div *ngIf="form.value.checkedIn">
     Check in date: 
     <input 
     type="number"
     name="checkedInDate"
     [ngModel]="detail?.checkedInDate">
 </div>
-->
<div>
    Luggage: 
    <select
    name="baggage"
    [ngModel]="detail?.baggage">
        <option
        *ngFor="let item of baggage"
        [value]="item.key"
        [selected]="item.key === detail?.baggage">
          {{item.value}}
        </option>
    </select>
</div>

<button type="submit" [disabled]="form.invalid">
 Update passenger 
</button>


</form>